@charset "utf-8";
/* CSS Document */
h1{
	color:#C03;
	}
	
	div.first{
	background-color:#FFF;	
		
	}
	
	div.sec{
		text-decoration:overline;
		
		}
#divstyle{
	font-family:Verdana, Geneva, sans-serif
	
	}
	
	
	/*group of selectors*/
	table,th,tr,td{
		border:2px dotted #666666;
		text-align:center;
		font-family:"Comic Sans MS", cursive;
		
		}