catalog{
    background-color: azure;width: 100%;
}

cd{
    display: block;
}

title{
    color:blueviolet;
    font-size: 24px;
    font-family: fantasy;
}

artist,country,year,price{
    display: block;
    padding: 10px;
    font-size: 15px;
}

