*{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-image: linear-gradient(to right,rgb(184, 154, 223),rgb(20, 157, 161));

}
h1{
    color: rgb(245, 189, 6);
    text-align: center;
}
h2{
    color: rgb(25, 25, 138);
}

li{
  font-size: 19px;
}
p{
    font-size: 20px;
}
li:hover{
    color: azure;
}